// Styling for the contact section
section#contact {
  background-color: $gray-900;
  //background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
    
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 18- */
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    /* Firefox 19+ */
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }

  .form-control:focus::-moz-placeholder {
    color : $primary;
  }
  .form-control:focus::-webkit-input-placeholder {
    color : $primary;
  }.form-control:focus::-ms-input-placeholder {
    color : $primary;
  }

  .contact-input-lg {
    //transition: height 300ms ;
  }

  .contact-input-lg:focus {
    height: 235px !important;
    margin-top: 10px;
  }
}


//contact

.btn-contact {
  width: 250px;
  height: 70px;
  border-radius: 35px;
}

.contact-subtext {
  color: white;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-bottom: 40px;
}

.contact-input-sm {
  background-color: rgba(0,0,0, 0.0);
  border-radius: 0;
  border-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
 // padding-left: 1px;
  color: white;
  caret-color: white;
}

.contact-input-sm:focus {
  background-color: rgba(0,0,0, 0.0);
  color: white;
}

.contact-input-sm::placeholder {
  color: red;
  opacity: 1;
}


.contact-input-lg {
  background-color: rgba(0,0,0, 0.0);
  border-radius: 0;
  border-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
 // padding-left: 1px;
  height: 65px !important;
  color: white;
  caret-color: white;
  margin-top: 180px;
  resize: none;
  //overflow-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-input-lg:focus {
  background-color: rgba(0,0,0, 0.0);
  color: red !important;
}


