//navbar

.nav-logo-text {
    color: white;
}

.big-heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62px;
    line-height: 130%;
    margin-bottom: 30px;
}


.btn-round {
    background-color: $primary;
    color: white;   
    height: 45px;
    width: 150px;
    border-radius: 22px;
    font-size: 14px;
    margin-top: 6px;
    padding-top: 10px;
    text-transform: uppercase;

}

.btn-round:hover {
    color: white;
    background-color: red;
}

.btn-round2 {
    background-color: rgba(0,0,0,0.0);
    color: white;   
    height: 45px;
    width: 150px;
    border-radius: 22px;
    font-size: 14px;
    margin-top: 6px;
    margin-left: 20px;
    padding-top: 10px;
    border: 2px solid white;
    text-transform: uppercase;
}

.btn-round2:hover {
    color: white;
    background-color: red;
}

.header-small-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}


//service

.card-service {
    background-color: #f9f9f9;
    box-shadow: 5px 10px 15px rgba(0,0,0, 0.15);
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    //cursor: pointer;
    transition: box-shadow 0.3s ease-in-out; 
}

.card-service::hover {
    box-shadow: 5px 10px 15px rgba(0,0,0,0.3);
}




//laptop

#laptop {
    background-color: maroon;
    height: 800px;
}

.laptop-img {
    width: 80%;
    position: relative;
    top: -300px
}

.laptop-logo {
   //width:10%;
}

/*
.notebook-video {
    position: relative;
    top: -650px;

}
*/

//portfolio

.shadow {
    box-shadow: 5px 10px 15px rgba(0,0,0, 0.15);

}






//contact

.btn-contact {
    width: 250px;
    height: 70px;
    border-radius: 35px;
}

.contact-subtext {
    color: white;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-bottom: 40px;
}

.contact-input-sm {
    background-color: rgba(0,0,0, 0.0);
    border-radius: 0;
    border-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
   // padding-left: 1px;
    color: white;
    caret-color: white;
}

.contact-input-sm:focus {
    background-color: rgba(0,0,0, 0.0);
    color: white;
}

.contact-input-sm::placeholder {
    color: red;
    opacity: 1;
}


.contact-input-lg {
    background-color: rgba(0,0,0, 0.0);
    border-radius: 0;
    border-color: white;
    border-top: none;
    border-right: none;
    border-left: none;
   // padding-left: 1px;
    height: 65px !important;
    color: white;
    caret-color: white;
    margin-top: 180px;
    resize: none;
    //overflow-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-input-lg:focus {
    background-color: rgba(0,0,0, 0.0);
    color: white;
}



//modal text

.modal-text {
    text-align: left;
}

.modal-list {
    text-align: left;
    list-style-type: none;
}


// top part

#top-part {
    //background-color: lightgrey;
    padding-top: 0;
}

.offset-container {
    position: relative;
    top: -65px;
}

//font awesome stuff

.fa-shadow {
    box-shadow: 0px 10px 30px 0 rgba(49, 52, 57, 0.3), 0 10px 30px rgba(0, 0, 0, 0.08);
}

.icon-circle {
    background-color: $primary;
    height: 130px;
    width: 130px;
    border-radius: 140px;
    margin: auto;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


//slice 1
#slice-1 {
    height: 90%;
    background-color: $gray-900;

}

.slice-text {
    color: white;
    font-family: 'Playfair Display', serif;
    //font-weight: normal;
}



//bottom

#bottom {
    background-color : $gray-900;
    color: white;
}


.small-btn {
    display: inline;
    background-color: $primary;
    border: none;
    color: white;
    margin-left: 0;
    height: 32px;
}

.small-textbox {
    display: inline;
    width: 60%;
    margin-right: 0;
    border: 0;
    height: 30px;
    border: none;
}